
body{font-family: sans-serif;background:white;}
.map-title{text-align: center;font-weight: bold;font-family: sans-serif;}
.map-subtitle{text-align: center;}

#map{width:770px;margin:auto;}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: auto;
    padding: 2px;
    font: 14px sans-serif;
    background: #ffffff;
    border: 1px solid #000;
    border-radius: 8px;
    pointer-events: none;
}
